@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,800&family=Kanit:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,700;1,900&family=Montserrat:wght@100;400;500;600;700;800;900&family=Nunito:wght@400;500;700;800;900;1000&family=Poppins:wght@300;400;500;700;800;900&family=Roboto+Mono:wght@100;300;400;500;600;700&family=Silkscreen&display=swap");

$darkgreen: #006400;
$secondary-white: #ecedef;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: "Poppins", sans-serif;
    font-family: "Montserrat", sans-serif;
}

#root {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    background-color: $secondary-white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navbar {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.5);
    z-index: 10;

    // logo
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: black;
        font-size: 1.7rem;
        font-weight: 800;
        letter-spacing: 3px;
    }

    .fa-bars {
        font-size: 1.5rem;
        margin-left: 1.5rem;
        cursor: pointer;

        &:active {
            scale: 0.9;
        }
    }

    span {
        margin-right: 1rem;
        a {
            color: black;
            i {
                font-size: 1.2rem;
                margin: 0 10px;
                cursor: pointer;
            }
        }
    }
}

.Header {
    width: 90%;
    border-radius: 12px;
    display: flex;
    padding: 1rem;

    img {
        width: 55%;
        padding: 1rem;
        aspect-ratio: 3/2;
        object-fit: contain;
        margin-bottom: -5rem;
    }

    .header-col-right {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -5rem;

        .header-title {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 1rem 0;

            h1 {
                font-size: 5.5rem;
                font-weight: 900;
                letter-spacing: 5px;
                text-align: center;
            }

            span {
                @extend h1;
            }
        }

        .header-btns {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 1rem 0;

            button {
                font-size: 1.1rem;
                font-weight: 700;
                padding: 7px 1rem;
                border-radius: 8px;
                margin: 0 1rem;
                background-color: #fb8500;
                transition: 0.4s;
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
                cursor: not-allowed;

                &:hover {
                    scale: 1.05;
                }
            }

            .btn-2 {
                @extend button;
                background-color: #48cae4;
            }
        }
    }
}

.NavLinks-container {
    width: 100%;
    position: fixed;
    top: -1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.6);
    z-index: 9;
    transition: 0.2s ease-in;

    a {
        color: black;
        text-decoration: none;
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        margin: 0 10px;
        font-weight: 700;
        padding: 4px 1rem;
        border-radius: 6px;
        cursor: pointer;
        background-color: $secondary-white;

        &:hover {
            background-color: $secondary-white;
            box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.5);
        }
    }
}

.showNavLinks {
    top: 3.4rem;
}

.SearchBar {
    width: 90%;
    height: 13rem;
    margin: 2rem 1rem 3rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url(./assets/images/second-bg.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 20px;

    h1 {
        font-size: 2.3rem;
        font-weight: 800;
    }

    form {
        width: 25rem;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 17px;
        padding: 2px 5px;
        margin: 10px 0 15px 0;

        input {
            width: 100%;
            font-size: 1.2rem;
            padding: 5px 10px;
            border: none;
            border-radius: 12px;
            outline: none;

            &::placeholder {
                font-size: 1.1rem;
            }
        }

        i {
            font-size: 1.3rem;
            margin: 0 10px;
            cursor: pointer;
        }
    }
}

.category-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        width: 100%;
        text-align: left;
        padding-left: 3rem;
    }

    .CategoryContainer {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-items: center;
        row-gap: 2.5rem;
        margin: 2rem 0;

        a {
            text-decoration: none;
            color: black;
        }

        .Meal-box {
            width: 12.5rem;
            height: 10rem;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            }

            img {
                width: 10rem;
                aspect-ratio: 3/2;
                object-fit: cover;
                border-radius: 7px;
            }

            p {
                margin-top: 7px;
                font-weight: 500;
                overflow: hidden;
            }
        }
    }
}

.SearchResults {
    @extend .category-section;
    height: max-content;

    .SearchContainer {
        @extend .CategoryContainer;
    }

    span {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 3rem 0;
        color: #70798c;
    }
}

.Category-page {
    @extend .Home;

    .FilteredMeal {
        @extend .category-section;
        height: max-content;

        .FilteredMeal-container {
            @extend .CategoryContainer;
            height: max-content;

            .Meal-box {
                @extend .Meal-box;
            }
        }
    }
}

.Meal-page {
    @extend .Home;

    .mealInfo-container {
        width: 65%;
        height: max-content;
        min-height: 50rem;
        background-color: #f8f8f8;
        margin: 3rem 0;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        position: relative;

        .nav-btns {
            position: absolute;
            left: 1.5rem;
            top: 1rem;
            display: flex;

            .fa-arrow-left {
                font-size: 1.5rem;
                cursor: pointer;
                color: gray;
                margin-right: 2rem;

                &:hover {
                    color: black;
                }
            }

            button {
                border: 1px solid black;
                border: none;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
                padding: 3px 5px;
                border-radius: 6px;
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: 700;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
                }

                i {
                    font-size: 1rem;
                    margin-right: 5px;
                    color: #d90429;
                }
            }
        }

        .line {
            width: 95%;
            height: 1px;
            background-color: #1f1f29;
            margin: 1rem 0;
        }

        .info-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin: 1.5rem 0 10px 0;

            .meal-details {
                width: 100%;
                min-width: 25rem;
                margin: 0 2rem 0 2rem;

                h1 {
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                }

                h4 {
                    font-weight: 700;
                    font-size: 14px;

                    span {
                        font-weight: 500;
                    }
                }

                .tags {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin: 5px 0 5px 0;

                    p {
                        margin-left: 5px;
                        padding: 1px 8px;
                        background-color: darken(
                            $color: $secondary-white,
                            $amount: 10
                        );
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }

                h5 {
                    a {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }

            img {
                width: 18rem;
                border-radius: 12px;
                margin: 0 2rem 0 0;
                aspect-ratio: 3/2;
                object-fit: cover;
                box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.4);
            }
        }

        .ingredients-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                width: 100%;
                margin: 0 0 1rem 3rem;
            }

            ul {
                width: 90%;
                display: grid;
                grid-template-columns: auto auto auto;
                grid-gap: 15px;
                justify-items: center;

                li {
                    width: 100%;
                    list-style: none;
                    padding: 5px;
                    font-weight: 500;
                }
            }
        }

        .instructions-container {
            @extend .ingredients-container;

            p {
                width: 100%;
                text-align: justify;
                padding: 5px 2rem;
            }
        }
    }
}

#Loader-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        --height-of-loader: 4px;
        --loader-color: #0071e2;
        width: 20%;
        height: var(--height-of-loader);
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.2);
        position: relative;
    }

    .loader::before {
        content: "";
        position: absolute;
        background: var(--loader-color);
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        border-radius: 30px;
        animation: moving 1s ease-in-out infinite;
    }
}

.Error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;

    h1 {
        font-size: 3rem;
        color: red;
        margin-bottom: 1rem;
    }

    a {
        color: black;
        font-size: 1.2rem;
        padding: 5px 1rem;

        &:hover {
            color: red;
            font-weight: 600;
        }
    }
}

.Favorites {
    @extend .Home;
    width: 100%;

    main {
        width: 70%;
        height: max-content;
        min-height: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        margin: 3rem 0;

        span {
            display: flex;
            align-items: center;
            margin: 2rem 0 3rem 0;
        }
        h1 {
            font-size: 2.5rem;
        }

        .line {
            width: 6rem;
            height: 3px;
            background-color: $darkgreen;
            border-radius: 12px;
            margin: 0 1.5rem;
        }

        .favorite-box {
            width: 45rem;
            height: max-content;
            min-height: 10rem;
            background-color: white;
            border-radius: 12px;
            display: flex;
            align-items: center;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
            padding: 20px;
            margin-bottom: 1.5rem;
            position: relative;

            img {
                width: 13rem;
                height: 8rem;
                object-fit: cover;
                aspect-ratio: 3/2;
                border-radius: 6px;
            }

            .box-details {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-left: 1.3rem;

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                h4 {
                    margin-top: 5px;
                    font-weight: 700;
                    color: #006400;
                }

                small {
                    margin-top: 2rem;
                }
            }

            .fa-xmark {
                position: absolute;
                right: -1rem;
                top: 4rem;
                background-color: white;
                padding: 2px 8px;
                border-radius: 50%;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
                cursor: pointer;
                font-size: 1.5rem;
                color: #d00000;
                text-align: center;
                transition: 0.1s ease-in-out;

                &:hover {
                    scale: 1.2;
                }
            }
        }
    }
}

.Footer {
    width: 90%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;

    p {
        font-weight: 400;
        font-size: 14px;
    }

    .footer-links {
        a {
            color: black;
            i {
                font-size: 1.2rem;
                margin: 0 10px;
                cursor: pointer;
            }
        }
    }
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}
